[data-theme="dark"] {
    background-color: #343a40;
    color: white;
}

[data-theme="dark"] #load {
    background-color: #343a40 !important;
}

[data-theme="dark"] #load-text {
    color: white !important;
}

[data-theme="dark"] hr {
    background-color: #e4e4e4;
}


[data-theme="dark"] .error-message {
    color: darkred !important;
}

[data-theme="dark"] .hamburger-inner,
[data-theme="dark"] .hamburger-inner::before,
[data-theme="dark"] .hamburger-inner::after {
    background-color: white !important;
}

/*Navbar*/
[data-theme="dark"] .navbar {
    background-color: #5a6268;
}

[data-theme="dark"] .navbar #logo-text {
    fill: white
}

[data-theme="dark"] .navbar .nav-link {
    color: #ffffff
}

[data-theme="dark"] .navbar .nav-link:hover {
    color: #dddddd;
}

/*Footer*/
[data-theme="dark"] .footer {
    background-color: #5a6268 !important;
    color: white;
}

[data-theme="dark"] .footer-copyright {
    color: rgba(255, 255, 255, 0.5);
}

[data-theme="dark"] .footer-copyright a {
    color: rgba(255, 255, 255, 0.7);
}

[data-theme="dark"] .footer-copyright a:hover {
    color: rgba(255, 255, 255, 0.5);
}

[data-theme="dark"] .card {
    border-color: #95999c;
    background-color: #6c757d;
}

[data-theme="dark"] .card-header {
    background-color: #5a6268;
    color: #fdfdfd;
}

[data-theme="dark"] .card-body {
    background-color: #6c757d;
}

[data-theme="dark"] .card-icon {
    color: #fdfdfd;
}

[data-theme="dark"] .card-footer {
    background-color: #5a6268;
}

[data-theme="dark"] .cookiealert {
    color: white;
    background-color: #5a6268;
}

[data-theme="dark"] .dropdown-menu,
[data-theme="dark"] .profile-head,
[data-theme="dark"] .about-body,
[data-theme="dark"] .about-info {
    background-color: #5a6268;
}

[data-theme="dark"] .dropdown-menu h3,
[data-theme="dark"] .dropdown-menu a {
    color: white
}

[data-theme="dark"] .dropdown-menu a:hover {
    background-color: #6c757d;
}

[data-theme="dark"] .footer-links a {
    color: rgba(255, 255, 255, 0.7);
}

[data-theme="dark"] .about-info-text {
    color: rgba(255, 255, 255, 0.7);
}
