.footer {
    bottom: 0;
    background-color: #4386f4 !important;
    padding: .8em;
    padding-top: .3em;
    padding-bottom: 0 !important;
    min-height: 160px;
}

.footer a {
    color: whitesmoke;
}

.footer a:hover {
    color: lightgray;
}

.footer-header {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    color: whitesmoke;
}

.footer-row {
    height: 2px;
    margin-top: 0;
    margin-bottom: 0.2em;
    background-color: whitesmoke;
}

.footer-text {
    font-family: Gotham Light, sans-serif;
    color: whitesmoke;
}

.footer-copyright {
    color: lightgray;
    font-size: 0.8em;
    padding-bottom: .3em;
    bottom: 0;
}

.footer-copyright a {
    color: lightgray;
}