body {
    font-family: Montserrat, sans-serif;
    background-color: #ededf1;
}

h6 {
    font-size: .8em;
}

.invis {
    pointer-events: none;
}

.normal {
    pointer-events: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#white-blck {
    background-color: white;
    padding: 25px;
    border-radius: 25px;
}

/*CONTENT*/

.content {
    position: relative;
    min-height: calc(100vh - 102px);
}

section.content {
    position: relative;
}

/*PARTICLES*/

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/*HOME*/

@media (min-width: 576px) {
    .home {
        max-width: 700px;
    }

    .home-head {
        font-size: 3em;
        text-align: center;
    }

    .home-text {
        font-size: 1em;
        text-align: center;
    }

    .home-detail {
        font-size: .8em;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .home {
        padding-right: 30px;
        padding-left: 30px;
    }

    .home-head {
        font-size: 2.5em;
        text-align: center;
    }

    .home-text {
        font-size: .8em;
        text-align: center;
    }

    .home-detail {
        font-size: .7em;
        text-align: center;
    }
}

.home-form {
    margin-top: 25px;
}

/*LOGIN*/

@media (min-width: 576px) {
    .login {
        max-width: 500px;
    }

    .login-head {
        font-size: 3em;
        text-align: center;
    }

    .login-detail {
        font-size: .8em;
    }

    .login-btn {
        width: 250px;
    }
}

@media (max-width: 576px) {
    .login {
        padding-left: 30px;
        padding-right: 30px;
    }

    .login-head {
        font-size: 2.5em;
        text-align: center;
    }

    .login form label {
        font-size: .8em;
    }

    .login-detail {
        font-size: .7em;
    }

    .login-btn {
        width: 150px;
    }
}

.login-btn-row {
    text-align: center;
}

/*REGISTER*/

@media (min-width: 576px) {
    .register {
        max-width: 500px;
    }

    .register-head {
        font-size: 3em;
        text-align: center;
    }

    .register-detail {
        font-size: .8em;
    }

    .reg-btn {
        width: 250px;
    }
}

@media (max-width: 576px) {
    .register {
        padding-left: 30px;
        padding-right: 30px;
    }

    .register-head {
        font-size: 2.5em;
        text-align: center;
    }

    .register form label {
        font-size: .8em;
    }

    .register-detail {
        font-size: .7em;
    }

    .reg-btn {
        width: 150px;
    }
}

.reg-btn-row {
    text-align: center;
}