body {
    font-family: Montserrat, sans-serif;
    background-color: #f9f9f9;
}

h6 {
    font-size: .8em;
}

/*CONTENT*/

.content {
    min-height: calc(100vh - 254px);
}

section.content {
    position: relative;
}

/*PARTICLES*/

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    width: 100%;
    height: 683px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/*HOME*/

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.home-zoek {
    padding-top: 25px;
}


.home-text {
    font-family: "Gotham Light", sans-serif;
    text-align: center;
}