body {
    font-family: Montserrat, sans-serif;
    background-color: #F9F9F9;
}

h6 {
    font-size: .8em;
}

.content {
    min-height: calc(100vh - 254px);
    padding: 25px;
}

.home-text {
    font-family: "Gotham Light", sans-serif;
    text-align: center;
}

section.content {
    position: relative;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.home-zoek {
    padding-top: 30px;
}

.login-text {

}

.register-text {

}