/*create*/

.create {
    padding-top: 1rem;
}

@media (min-width: 576px) {
    .create {
        max-width: 1000px;
    }

    .create-head {
        font-size: 3rem;
        text-align: center;
    }

    .create-title {
        font-size: 1.5rem;
    }

    .create-detail {
        font-size: .8rem;
    }
}

@media (min-width: 768px) {
    .create-group {
        padding-left: 35px !important;
    }
}

@media (max-width: 576.98px) {
    .create-title {
        font-size: 1.4rem;
    }

    .create-detail {
        font-size: .7rem;
    }

    .create-image img {
        max-height: 200px;
    }
}

@media (max-width: 767.98px) {
    .create-image img {
        height: 300px !important;
    }
}

.create-image img {
    filter: blur(.05em);
    height: 200px;
    width: 100%;
}

input[type="checkbox"][id^="image-check"] {
    display: none;
}
