/*create*/

.create {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 576px) {
    .create {
        max-width: 1000px;
    }

    .create-head {
        font-size: 3rem;
        text-align: center;
    }

    .create-title {
        font-size: 1.5rem;
    }

    .create-detail {
        font-size: .8rem;
    }
}

@media (min-width: 768px) {
    .create-group {
        padding-left: 35px !important;
    }
}

@media (max-width: 576.98px) {
    .create-title {
        font-size: 1.4rem;
    }

    .create-detail {
        font-size: .7rem;
    }

    .create-image img {
        max-height: 200px;
    }
}

@media (max-width: 767.98px) {
    .create-image img {
        height: 300px !important;
    }
}

.create-image img {
    filter: blur(.05em);
    height: 200px;
    width: 100%;
}

.carousel-item img {
    border-radius: 0.25rem !important;
}

.carousel-item input {
    margin: 0;
    padding: 0;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-item label {
    margin: 0;
    padding: 0;
}

.carousel-check {
    visibility: hidden;
    pointer-events: none;
    color: #28a745 !important;
    opacity: .8;
}

.carousel-item:hover ~ .carousel-check {
    visibility: visible;
}

.carousel-item:hover ~ .carousel-item img {
    border: #28a745 solid 2px;
    box-shadow: #28a745;
}

.carousel-indicators {
    margin-bottom: .5rem;
}

.carousel-indicators li {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.carousel-control-prev-icon {
    transform: rotate(180deg) scale(1.5);
    background: url("../../img/svg/chevron.svg");
}

.carousel-control-next-icon {
    transform: scale(1.5);
    background: url("../../img/svg/chevron.svg");
}

.create-btn {
    width: 160px;
}

.create-btn-row {
    text-align: center;
    margin-bottom: .6rem;
}

.carousel-select {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border: solid #28a745;
    border-radius: 10px;
    visibility: hidden;
}

.carousel-item.active.selected ~ .carousel-select,
.carousel-item.active.selected ~ .carousel-check {
    visibility: visible;
}