/*forgot*/

@media (min-width: 576px) {
    .forgot {
        max-width: 600px;
    }

    .forgot-head {
        font-size: 3rem;
        text-align: center;
    }

    .forgot-detail {
        font-size: .8rem;
    }

    .forgot-btn {
        width: 250px;
    }

    .forgot-login {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: .7rem;
    }
}

@media (max-width: 575.98px) {
    .forgot {
        padding-left: 30px;
        padding-right: 30px;
    }

    .forgot-head {
        font-size: 2rem;
        text-align: center;
    }

    .forgot form label {
        font-size: .8rem;
    }

    .forgot-detail {
        font-size: .7rem;
    }

    .forgot-btn {
        width: 150px;
    }

    .forgot-login {
        text-align: center;
        font-size: .6rem;
    }

    .form-group {
        margin-bottom: .5rem !important;
    }
}

.forgot-btn-row {
    text-align: center;
    margin-bottom: .6rem;
}

.forgot-akkoord-err {
    left: 0;
    right: auto;
}