/*PROFILE*/

@media (min-width: 576px) {
    .profile {
        max-width: 720px;
    }

    .profile-head-text {
        font-size: 3rem;
        text-align: center;
    }

    .pro-pic {
        width: 100%;
        border-radius: 50%;
    }
}

@media (max-width: 575.98px) {
    .profile-head-text {
        font-size: 2rem;
        text-align: center;
    }

    .pf-row {
        display: flex;
        justify-content: center;
    }

    .pro-pic {
        width: 80%;
        text-align: center;
        border-radius: 50%;
    }
}

.pf-row {
    padding: 15px;
    max-width: 100%;
}

.profile-head {
    background-color: #f9f9f9;
    border-radius: 15px;
}

@media (min-width: 576px) {
    .pro-head-body {
        padding: 15px;
        display: grid;
        align-content: center;
    }

    .pro-head-body h5 {
        font-size: 1.2rem;
    }
}

@media (max-width: 575.98px) {
    .pro-head-body {
        display: grid;
    }

    .pro-head-body h5 {
        font-size: 1.1rem;
    }
}


.pro-head-text {
    color: #007bff;
}