/*profile*/

.profile {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pro-pic {
    height: 100%;
}

@media (min-width: 576px) {
    .profile {
        max-width: 720px;
    }

    .profile-head-text {
        font-size: 3rem;
        text-align: center;
    }

    .pro-pic {
        width: 100%;
        border-radius: 50%;
    }

    .profile-btn {
        width: 350px;
    }
}

@media (max-width: 575.98px) {
    .profile-head-text {
        font-size: 2rem;
        text-align: center;
    }

    .pf-row {
        display: flex;
        justify-content: center;
    }

    .pro-pic {
        width: 80%;
        text-align: center;
        border-radius: 50%;
    }

    .profile-btn {
        width: 250px;
    }
}

.pf-row {
    padding: 15px;
    max-width: 100%;
}

.profile-head {
    min-height: 240px;
    background-color: white;
    border-radius: 15px;
}

@media (min-width: 576px) {
    .pro-head-body {
        padding: 15px;
        display: grid;
        align-content: center;
        align-items: center;
    }

    .pro-head-body h5 {
        font-size: 1.2rem;
    }
}

@media (max-width: 575.98px) {
    .pro-head-body {
        display: grid;
    }

    .pro-head-body h5 {
        font-size: 1.1rem;
    }
}

.pro-head-text {
    color: #007bff;
}

.profile-btn-row {
    text-align: center;
    margin-bottom: .6rem;
}

.profile-loctation {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
}

#profile-map {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
    border: 0;
}