/*task*/

.task {
    padding-top: 1rem;
}

@media (min-width: 576px) {
    .task {
        max-width: 1000px;
    }

    .task-head-text {
        font-size: 3rem;
        text-align: center;
    }
}

.task-img {
    filter: blur(.05em);
    max-height: 250px;
    width: 100%;
}