.footer {
    position: relative;
    bottom: 0;
    background-color: white !important;
    padding: .3em;
    padding-top: .2em;
    padding-bottom: 0 !important;
}

.footer-copyright {
    color: rgba(0, 0, 0, 0.5);
    font-size: .8em;
    padding-bottom: .3em;
    bottom: 0;
}

.footer-copyright a {
    color: rgba(0, 0, 0, 0.7);
}

.footer-copyright a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.dark-mode-switch {
    position: absolute;
    bottom: 0.2%;
}
