/*navbar*/

.navbar {
    background-color: white;
}

#logo {
    width: 160px;
    height: 100%;
}

.nav-btn {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
    height: 4.5rem;
    padding: 1.5rem;
    text-align: center;
}

.navbar-toggler:focus {
    outline: 0;
}

.profile-link {
    padding: 0;
}

.profile-img-link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.pro-drop {
    transform: translateX(-50%);
    margin-left: 50%;
    background-color: white;
    border: 0;
    border-radius: 0;
    top: 56px;
    width: 250px;
}

.pro-img-drop {
    display: flex;
    width: 100%;
    padding: 0 40px;
    border-radius: 50%;
}

.pro-name-drop {
    text-align: center;
}