/* NAVBAR*/

.navbar {
  z-index: 2;
  background-color: white;
}

#logo {
  width: 160px;
  height: 100%;
}

@media (max-width: 575.98px) {
  .pro-drop {
    display: block;
    margin-top: 0;
  }
}

@media (max-width: 767.98px) {
  .navbar-collapse .nav-item > a {
    padding-bottom: 15px;
  }

  .profile-img-link {
    height: auto !important;
    width: 100px !important;
  }
}

.nav-btn {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
  height: 4.5rem;
  padding: 1.5rem;
  text-align: center;
}

.navbar-toggler:focus {
  outline: 0;
}

.profile-link {
  padding: 0;
}

.profile-img-link {
  height: auto;
  width: 40px;
}

.pro-drop {
  display: none;
  transform: translateX(-50%);
  margin-left: 50%;
  background-color: white;
  border: 0;
  border-radius: 0;
  top: 56px;
  width: 250px;
}

.pro-drop-register {
  display: none;
  text-align: center;
  line-height: 2;
  transform: translateX(-50%);
  margin-left: 50%;
  background-color: white;
  border: 0;
  border-radius: 0;
  top: 56px;
  width: 100px;
}

.dropdown:hover .pro-drop,
.dropdown:hover .pro-drop-register {
  display: block;
}

.pro-drop:hover,
.pro-drop-register:hover {
  display: block;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown-menu:before {
  content: " ";
  display: block;
  position: absolute;
  height: 18px;
  top: -18px;
  left: 0;
  right: 0;
}

.pro-img-drop {
  display: flex;
  width: 100%;
  height: auto;
  padding: 8px 40px 0 40px;
}

.pro-name-drop {
  text-align: center;
  margin-bottom: 0;
  margin-top: 8px;
}

.btn-drop {
  width: 100%;
  height: 38px;
}

.reg-drop {
  padding: .25rem .75rem;
}