/*cookiealert*/

.cookiealert {
    width: 400px;
}

.cookiealert {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 !important;
    z-index: 10;
    opacity: 0;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    font-size: 1.05rem;
    color: black;
    background: #fefefe;
    border: 1px solid black;
}

@media (max-width: 575.98px) {
    .cookiealert {
        width: 100%;
    }
}

.cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 5px;
    vertical-align: middle;
}

.alert {
    padding: 0.5rem 1rem;
}